.heroContainer {
  margin: 0 auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  padding: 0 6rem;
  text-align: left;

  a {
    font-weight: bold;
    color: #535bf2;
  }

  @media (max-width: 1024px) {
    padding: 0 2rem;
  }

  @media (max-width: 768px) {
    margin-top: 15vh;
    padding: 0 1rem;
  }

  .heroTitle {
    align-self: flex-start;
    font-family: 'Monaco', Consolas, 'Lucida Console', monospace;
    font-size: 4.5em;
    color: #2d2b2f;

    &:before {
      content: '>\a0';
    }

    span {
      background-color: black;
      animation: caret 1s steps(1) infinite;
    }

    @media (max-width: 768px) {
      font-size: 2.3em;
    }

    @keyframes caret {
      50% {
        background-color: transparent;
      }
    }
  }

  .heroDescription {
    align-self: flex-start;
    font-family: 'Camphor', 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 200;
    font-size: 1.3em;
    line-height: 40px;
    color: #888888;
    margin: 50px 0;

    @media (max-width: 768px) {
      font-size: 1.2em;
      line-height: 30px;
      max-width: 100%;
      margin: 20px 0;
    }
  }

  .heroNote {
    align-self: flex-start;
    font-family: 'Camphor', 'Open Sans', 'Segoe UI', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 1.1em;
    line-height: 30px;
    color: #888888;
    margin-top: -30px; 
    margin-bottom: 50px;

    @media (max-width: 768px) {
      font-size: 1em;
      line-height: 25px;
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }

  .heroMessage {
    align-self: flex-start;
    font-family: 'Camphor', 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 200;
    font-size: 0.9em;
    line-height: 30px;
    font-style: italic;
    color: #7b4ea2;
    margin-bottom: 10px;
    

    @media (max-width: 768px) {
      font-size: 1em;
      line-height: 25px;
      margin-bottom: 20px;
    }
  }
}
  
  
  
  